* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ====================conmoon==================== */
a {
  text-decoration: none;
}
.heading-lv2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border-radius: 999px;
  background-color: #171100;
  display: inline-block;
  padding: 0px 16px;
  min-width: 118px;
  line-height: 50px;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.line-clamp {
  display: -webkit-box;
  display: box; /* tương lai nếu được hỗ trợ */
  -webkit-box-orient: vertical;
  box-orient: vertical; /* tương lai nếu được hỗ trợ */
  -webkit-line-clamp: 2;
  line-clamp: 2; /* thuộc tính chuẩn khi browser hỗ trợ */
  overflow: hidden;
}
.line-clamp.line-2 {
  line-clamp: 2;
}
/* ====================header==================== */
.header {
  background: #c3b592;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.header .btn-SignUp {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* HERO  */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/* Content-block */
.hero .content-block {
  width: 52%;
  margin-left: 130px;
  margin-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-top: 22px;
}
.hero .btn {
  background: var(--primary-color);
  min-width: 180px;
  line-height: 64px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 38px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .stats {
  margin-top: 8px;
}
/* POPULAR */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .info .desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-top: 1.6rem;
  max-width: 45.8rem;
}
.popular .popular-top {
  display: flex;
  align-items: center;
}
.popular .button {
  margin-left: auto;
  gap: 18px;
}
.popular-top .button-btn {
  width: 40px;
  height: 40px;
  opacity: 1;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}
.popular-top .button {
  display: flex;
}
.popular-top .button-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

/* bài làm chính */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px #0000000d;
  background: #ffffff;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title {
  color: #171100;
  font-style: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course-item .value {
  margin-left: 6px;
  color: #fea31b;
  font-style: 16px;
  line-height: 1.75;
}
.popular .course-item .desc {
  margin-top: 6px;
  font-style: 1.4rem;
  line-height: 1.86;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0px;
  background: #2e2100;
}
.feedback .feedback-item {
  display: flex;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.feedback-item .info .member-name {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}
.feedback-item .info .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback-item .dot {
  background: #634700;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.feedback .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  font-size: 2.6rem;
  line-height: 1.54;
  color: #fff;
  font-style: italic;
}
.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}
/* Phần LEARNER 1 */
.learner {
  padding: 135px 0;
}
.learner .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.learner .picture {
  display: flex;
  width: 48%;
  height: 438px;
  justify-content: space-between;
}
.learner .anh {
  width: 270px;
  height: 404px;
  opacity: 1;
  border-radius: 16px;
  object-fit: cover;
}
.learner .word {
  width: 470px;
  height: 322px;
}
.learner .picture .anh2 {
  margin-bottom: 34px;
}
.learner .picture .anh1 {
  margin-top: 34px;
}
.learner p {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  margin-top: 1.6rem;
}
.learner .word .btn-word {
  margin-top: 32px;
}
.learner .word .btn-word:hover {
  background-color: var(--primary-color);
}
/* Learner2 */
.learner .btn-join:hover {
  background-color: var(--primary-color);
}
.learner .text {
  width: 48%;
}
.learner .body2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.learner .anh3 {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
.learner .text .btn-join {
  margin-top: 32px;
}
